 .friendsItem img {
    height: 50px;
    width: 50px;
    border-radius: 25px;
  }

  .friendsItem {
    padding: 5px;
    max-width: 60px;
    text-align: center;
    /* overflow-x: hidden; */
    word-wrap: break-word;
  }

  .friendsItem a.activeLink {
    color: gold;
  }